{% extends "base.html" %}
{% block title %}Group{% endblock %}
{% block content%}
<div class="container">
    <h1>{{ group[1] }}</h1>
    <p>{{ group[2] }}</p>
    <h2>Threads</h2>
    <div class=" container border">

        {% for thread in threads %}
        <div class="container border">
            <strong><a href="/groups/{{group[0]}}/threads/{{thread[0]}}">{{ thread[1] }}</a></strong>
            <p>
                {{ thread[2] }}
            </p>
        </div>
        {% endfor %}
    </div>
    <form action="/groups/{{group[0]}}/threads" method="POST">
        <div>
            <label>Title</label>
            <input type="text" name="title">
        </div>
        <div>
            <label>Content</label>
            <input type="text" name="content">
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>
{% endblock %}