{% extends "base.html" %}
{% block title %}Thread{% endblock %}
{% block content%}
<div class="container">
    <h1>{{ thread[1] }}</h1>

    <div class=" container border">
        <p>{{ thread[2] }}</p>
    </div>
    {% for comment in comments %}
    <div class="container border">
        <p>{{ comment[0] }}</p>
    </div>
    {% endfor %}
    <div>
        <form action="/groups/{{group[0]}}/threads/{{thread[0]}}/comments" method="POST">
            <div>
                <label>Comment</label>
                <input type="text" name="comment"/>
            </div>
            {% if error %}
            <p>Error: {{ error }}</p>
            {% endif %}
            <button type="submit" class="btn btn-primary">Add comment</button>
        </form>
    </div>
</div>
{% endblock %}