{% extends "base.html" %}
{% block title %}Thread{% endblock %}
{% block content%}
<div class="container">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">{{ thread[1] }}</h2>
            <p class="card-text">{{ thread[2] }}</p>
            <br />
            <div>
                <p class="card-text">Likes: {{ likes[0] }}</p>
                <form action="/groups/{{group}}/threads/{{thread[0]}}/like" method="POST">
                    <button type="submit" class="btn btn-primary">Like</button>
                </form>
            </div>
        </div>
        <div class="card-footer text-body-secondary">
            By: {{ thread[3] }}
        </div>
    </div>
    {% for comment in comments %}
    <div class="container border">
        <p>{{ comment[0] }}</p>
    </div>
    {% endfor %}
    <div>
        <form action="/groups/{{group}}/threads/{{thread[0]}}/comments" method="POST">
            <div>
                <label>Comment</label>
                <input type="text" name="comment"/>
            </div>
            {% if error %}
            <p>Error: {{ error }}</p>
            {% endif %}
            <button type="submit" class="btn btn-primary">Add comment</button>
        </form>
    </div>
</div>
{% endblock %}